#navSpace{
	position: fixed;
	
	width: 500px;
	left: 100%;
	margin-left: -500px;
	
	padding: 0;
	z-index: 1000;
}

#main.navMenu{
	display: none;
	float: right;
}

.navMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navMenu li{
	font-size: 16pt;
  text-align: center;
	cursor: pointer;
	display: inline-block;
	min-width: 160px;
	background-color: lightgreen;
	color: black;
}

.navMenu ul{
	padding: 0;
	margin: 0;
}

.submenu{
	display: none;
	position: absolute;
}

.submenu li{
	display: block;
}

.navMenu li.active, .navMenu li:hover{
	color: white;
	background-color: green;
}

.arrow img{
	width: 25px;
	height: 25px;
}

#menuButton{
	display: none;
	background-color: lightgreen;
}

@media (max-width: 1000px){
	#menuButton{
		width: 100%;
		text-align: center;
	}
	#navSpace{
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	
	.navMenu{
		width: 100%;
	}
	
	.navMenu li{
		display: block;
	}
}